.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
}

.logo{
  width: 8vw;
  height: 10vh;
  cursor: pointer;
}

.categories{
  cursor: pointer;
  align-self: center;
  color: #333;
  margin-left: 20px;
}

.left-section{
  display: flex;
}