.products-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.secondary-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  margin: inherit;
}

.img-cntr {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 30vh;
}

.pro-img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.title {
  align-self: center;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.cta-add-to-cart{
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.cta-add-to-cart:hover{
  background-color: #ff5749;
}

.cta-add-to-cart
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}